// VARIABLES
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$main-color:  rgb(0,171,108);
$py-main :  2rem 2rem;
$py-secondary :  2rem 2rem;


$circle-color: rgba(221, 221, 221, 0.582);
$circle-color-secondary-main: #ddd;
$circle-color-secondary: rgba(221, 221, 221, 0.425);

// RESET
*,
*::after,
*:before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
font-size: 62.5%;
}


// UTILITY 
a{
  text-decoration: none;
}


// FIRST SECTION
.container{
  padding: 2rem 5rem;
  overflow: hidden;

}
.first-section{
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
  .navbar{
    display: flex;
    align-items: center;
    .logo{
      align-items: flex-end;
      margin-right: 4rem;
    }

    &-items{
      display: block;
      font-size: 1rem;

      // ripple effect button 
   a{
    position: relative;
    display: inline-block;
    background: #fff;
    text-decoration: none;
    overflow: hidden;
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.932);
    font-family: $main-font;
    font-weight: 500;
    margin: 1rem;

    &:hover{
      color: $main-color;
    }
  }
  span{
    position: absolute;
    background: #ccc;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation:  animate 1s linear infinite;

    &:active{
    position: absolute;
    background: #ccc;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation:  animate 1s linear infinite;

    }
  }
  
  @keyframes animate {
    0%{
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }
    100%{
      width: 31rem;
      height: 31rem;
      opacity: 0;
    }
  }
 }
}

  
  .signin{
    position: relative;
    a{
      text-align: center;
      align-self: center;
      color: #000000ea;
      font-size: 1rem;
      font-weight: 500;
      font-family: $main-font;
      padding: 0.6rem 1.2rem;
      border-radius: 5rem;
      transition: ease 0.4s;
      border: 2px solid black;
      
      &:hover{
        background-color: rgba(0, 0, 0, 0.918);
        color: white;
      }
    }
  }



// CIRCLE

.circle-1{
  display: block;
  height: 110px;
  width: 110px;
  background-color: $circle-color;
  z-index: -1;
  top: 10px;
  left: 2px;
  border-radius: 50%;
  position: absolute;
}

.circle-2{
  display: block;
  height: 40px;
  width: 40px;
  background-color: $circle-color;
  z-index: -1;
  top: 10px;
  left: 110px;
  border-radius: 50%;
  position: absolute;
}

.circle-3{
  display: block;
  height: 20px;
  width: 20px;
  background-color: $circle-color;
  z-index: -1;
  top: 55px;
  left: 125px;
  border-radius: 50%;
  position: absolute;
}

.circle-4{
  display: block;
  height: 600px;
  width: 800px;
  background-color: $circle-color;
  z-index: -1;
  bottom: 50px;
  left: 450px;
  border-radius: 80%;
  position: absolute;
}

.circle-5{
  display: block;
  height: 35px;
  width: 35px;
  background-color: $circle-color-secondary-main;
  z-index: -1;
  bottom: 250px;
  right: -50px;
  border-radius: 50%;
  position: absolute;
}

// right second big circle
.circle-6{
  display: block;
  height: 200px;
  width: 200px;
  background-color: $circle-color-secondary;
  z-index: -1;
  bottom: 250px;
  right: -30px;
  border-radius: 50%;
  position: absolute;
}

.two-parts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
}




// SECOND-SECTION
.second-section{
  position: relative;
  padding: 5rem 1rem;
  max-width: 100%;
  .left-part{
    width: 90%;
  }
  .main-heading{
    font-family: $main-font;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.2;
    margin-top: 1.5rem;
  }
  // button
  .waitlist-btn{
    padding: 5rem 0.5rem; 
  }
  ::placeholder {
    font-family: $secondary-font;
    color: #ccc;
    opacity: 1; 
    
  }
  input{
    font-family: $secondary-font;
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
  
  }
  input[type="email"]{
    font-family: $secondary-font;
    width: 18rem;
    height: 3rem;
    border: 2px solid $main-color;
    outline: none;
    padding: 0 1.5rem;
    border-radius: 1.5rem 0 0 1.5rem;
  }
  input[type="submit"]
  {
    font-family: $secondary-font;
    position: relative;
    border-radius: 0px 1.5rem 1.5rem 0;
    outline: none;
    padding: 0 0.5rem;
    height: 3rem;
    width: 9rem;
    cursor: pointer;
    left: -5px;
    color: white;
    border: none;
    background-color: $main-color;
    transition: ease 0.3s;
    &:hover{
      background: #ffffff;
      color: $main-color;
      border: 2px solid $main-color;
    }

    

  }
  // RIGHT PART SECOND SECTION
  .right-part{
      position: relative;

  }
}

// third section
.third-section{
  padding: $py-main;
  a{
    color: black;
  }
  .third-section-title{
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.2;
    width: 30%;
    font-family: $main-font;
    font-weight: 500;
  }
  .picture{
    height: 158px
  }
  .picture-info{
    text-align: center;
    background: #eee;
    border-radius: 35px;
    margin: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
      &:hover{
        opacity: 0.5;
      }
      
  }
  
  h5{
    font-size: 1.2rem;
    font-family: $main-font;
    font-weight: 500;
  }
  .third-section-picture{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  } 
  .picture{
    transform: scale(1.2);
    margin-bottom: 2.5rem;
  }
  .picture-2{
    transform: scale(1.5);
  }
 
}

// footer section
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $py-secondary;
  background-color: #eee;
  border-radius: 35px;

  .footer-first-part{
    display: flex;
    align-items: center;
  }
  h5{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $main-font;
    margin: 0 2rem;
  }
  input[type="email"]{
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #ffffff;
    padding: 1rem;
    margin: 0 2rem;

  }
  .btn-submit{
    font-family: $secondary-font;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1rem;
    background-color: $main-color;

    &:hover{
      opacity: 0.8;
    }
  }
  
  .footer-second-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      
    a{      
      color: black;
      font-size: 0.8rem;
      font-family: $main-font;
      margin: 0 2px;
    }
    
  }
}

// MEDIA QUERIES
@import 'media(ipad)';
@import 'media2(iphone)';
@import 'media3';