// VARIABLES
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$main-color:  rgb(0,171,108);
$py-main :  3rem 4rem;

$gradient: linear-gradient(98deg, rgba(0, 0, 0, 0.37) 26%, rgba(0, 0, 0, 0.452) 98%);

$box-shadow:  0px 10px 17px -3px rgba(0,0,0,0.23);
$box-shadow-hover: 0px 0px 17px 1px rgba(0,0,0,0.65);

$card-radius: 15px;
$transition: ease 0.3s;

$translate-card: translateY(-10px);

$circle-color: rgba(221, 221, 221, 0.582);
$circle-color-secondary-main: #ddd;
$circle-color-secondary: rgba(221, 221, 221, 0.425);

$blog-animation: dropDown 0.7s ease;

$card-bg: #fff;

// RESET
*,
*::after,
*:before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  font-size: 62.5%;
}

// UTILITY 
a{
  text-decoration: none;
}

.signin-container{
  padding: 1rem 2rem;

  .signin-title{
    padding: 1rem 0rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $main-font;
    text-align: center;
  }
  p{
    font-weight: 500;
    font-size: 1rem;
    font-family: $main-font;
    text-align: center;
  }
  a{
    text-decoration: underline;
    color: black;
    }
    .click{
      padding-bottom: 1rem;
    }
    .signin-btn{
      margin-bottom: 1rem;
      width: 100%;
      display: block;
      padding: 0.8rem 1.5rem;
      background: #CB3F23;
      color: white;
      font-size: 1.2rem;
      outline: none;
      border: none;
      font-weight: 500;
      width: 365px;
      border-radius: 5px;
    }
    .fb-btn{
      background-color: rgb(65,103,178);
    }
    h2{ 
      padding-top: 2rem;
      width:100%; 
      text-align:center; 
      border-bottom: 2px solid #000; 
      line-height:0.1em; 
      margin:10px 0 20px; } 
    h2 span {
      font-family: $main-font;
      font-weight: 400;
        font-size: 1.2rem;
       background:#fff; 
       padding:0 10px; 
      }
  }

  .box input {
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
  }
  
  .box form div{
    position: relative;
  }
  .box form div label{
    font-family: $secondary-font;
    font-size: 1rem;
    position: absolute;
    top: 10px;
    right: 110px;
    pointer-events: none;
    left: 0;
    color: #999;
    transition: 0.4s;
  }
  
  .box input:focus ~ label{
    font-family: $secondary-font;
    transform: translateY(-20px) translateX(-3px);
    color: #000;
    font-size: 12px;
  }
  #signin-btn-email{
    background-color: #44C2B7;
  }
  .forgot-area{
    padding: 1rem 0rem;
    color: black;
    text-align: center;
    font-size: 0.8rem;
    font-family: $main-font;
  }
  .center{
    color: black;

    display: block;
  }
  .logo-signin{
    padding: 1rem 0rem;
    text-align: center;
  }

  .form-area{
    padding: 0rem 2rem;
  }

  // MEDIA QUERIES
@import 'media(ipad)';
@import 'media2(iphone)';
@import 'media3';
